/* https://stackoverflow.com/a/50354345 */
.steps li {
  display: flex;
}

.steps .step-index {
  position: relative;
  color: #2e2e2e;
  padding: 0 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

.steps .step-description {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.steps .step-description::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 1px #2e2e2e solid;
}

.steps li:last-child .step-description {
  padding: 0 1.5em 0 1.5em;
}

.steps strong {
  display: block;
  font-weight: bolder;
}

.steps {
  margin: 40px auto 40px auto;
}
.steps,
.steps *::before,
.steps *::after {
  box-sizing: border-box;
}
