#search-transcripts-feature::before {
  background: url('icons/search-outline.svg');
}

#track-legislation-feature::before {
  background: url('icons/document-outline.svg');
}

#voting-history-feature::before {
  background: url('icons/time-outline.svg');
}
