#features-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(287deg, #e069c5 0%, #d070ed 35%, #00d4ff 100%);
}

#search-transcripts-feature::before {
  background: url('/search-outline.svg');
}

#track-legislation-feature::before {
  background: url('/document-outline.svg');
}

#voting-history-feature::before {
  background: url('/time-outline.svg');
}
