#search-transcripts-feature::before {
  background: url('imgs/search-outline.svg');
}

#track-legislation-feature::before {
  background: url('imgs/document-outline.svg');
}

#voting-history-feature::before {
  background: url('imgs/time-outline.svg');
}
