#hero-container {
  display: flex;
  width: 100%;
  color: #ffffff;
  background: linear-gradient(116.77deg, #091f2f 9.63%, #484848e6 96.61%);
}

#hero-container h1 {
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

#hero-container > img {
  clip-path: circle(60% at 65% 50%);
}

#hero-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2rem;
}

.cdp-h1 {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.1em;
  max-width: 60ch;
  font-size: 60px;
}
