.testimonial-card {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  text-align: center;
  margin: 2rem 0;
}

.testimonial-quote {
  font-size: 1.2rem;
}

.testimonial-author {
  font-weight: bold;
  margin-bottom: 0;
}
